{% extends 'base.html' %}

{% block title %}
    Show Me questions
{% endblock %}

{% block content %}
    <a href="{% url 'landing_page' %}">Go back</a>
    <div class="custom-container">
        <div class="content">
            <b>'Show Me' questions are asked whilst you are driving. </b> These are the questions you may be asked with the minimum
            required for a correct answer. You should only perform requested safety task when it safe to do so. The examiner will want
            you to show how you would carry out one of these tasks by asking:
        </div>
        <div class="content">
            <div class="showme-question">
                Q <b>When it's safe to do so, can you show me how you wash and clean the rear windscreen?</b><br>
                A: <i>Operate the front washer and wiper control. Remember to switch off the wiper(s) when no longer needed.</i>
            </div>
            <div class="supplementary-question">
                <i><b>Supplementary questions to discuss with your trainer.</b></i>
            </div>
            <div class="help-question">
                <b>Why is it important to keep washer reservoirs topped up?
                    How can you ensure washers will not freeze up in winter?
                    Why is it best not to use wipers on a dry screen?
                </b>
            </div>
        </div>
        <div class="content">
            <div class="showme-question">
                Q <b>When it's safe to do son, can you show me how you wash and clean the front windscreen?</b><br>
                A: <i>Operate the front washer and wiper control. Remember to switch off the wiper(s) when no longer needed.</i>
            </div>
            <div class="help-question">
                <i>In addition to questions above:</i>
                <b>What should you do if washers and wipers can't clear the windscreen?
                    How would you know it was time to replace wiper blades?
                </b>
            </div>
        </div>
        <div class="content">
            <div class="showme-question">
                Q <b>When it's safe to do so, can you show me how you'd switch on your dipped headlights?</b><br>
                A: <i>Operate the switch. Check that the relevant instrument panel warning light illuminates. Remember to switch off the dipped headlights when no longer needed.</i>
            </div>
            <div class="help-question">
                <b>When should/must you use dipped headlights?
                    What should you do if one of your headlights fails?
                    Why is it important to keep headlight lenses clean?
                    What do these symbols mean? . . .
                </b>
            </div>
        </div>
        <div class="content">
            <div class="showme-question">
                Q <b>When it's safe to do so, can you show me how you'd set the rear demister?</b><br>
                A: <i>Operate the switch and check if the relevant instrument panel light illuminates. Remember to switch the demister when it is no longer needed.</i>
            </div>
            <div class="help-question">
                <b>Why is it important to keep the rear screen demisted?
                How can you help reduce windscreen misting?
                How can 'air conditioning' affect demisting?</b>
            </div>
        </div>
        <div class="content">
            <div class="showme-question">
                Q <b>When it's safe to do so, can you show me how you'd operate the horn?</b><br>
                A: <i>Check that you will no cause alarm or confusion to other road users. Operate the horn briefly.</i>
            </div>
            <div class="help-question">
                <b>What is the purpose of the horn?
                    When you might need to use the horn?
                    When is it unlawful to use the horn?
                    What could you do as an alternate to using the horn?
                </b>
            </div>
        </div>
        <div class="content">
            <div class="showme-question">
                Q <b>When it's safe to do so, can you show me how you'd demist the front windscreen?</b><br>
                A: <i>Set the controls to maximise warm air flow to the windscreen. Remember to reset the controls when no longer needed.</i>
            </div>
            <div class="help-question">
                <b>Why is it important to keep the windscreen demisted?
                    When should you operate a heated front windscreen?
                    How can an open window help?
                </b>
            </div>
        </div>
        <div class="content">
            <div class="showme-question">
                Q <b>When it's safe to do so, can you show me how you'd open and close the side window?</b><br>
                A: <i>Operate the switch or mechanism as appropriate to open and then close the window.</i>
            </div>
            <div class="help-question">
            <b>Why would it be important to know how to open a window?
                Why is it impoortant to 'know your vehicle?'
                When should you familiarise yourself with the controls of a new/hire/replacement vehicle?
            </b>
            </div>
        </div>
    </div>
{% endblock %}