/* styles.css */
body {
  font-family:Verdana, Geneva, Tahoma, sans-serif; /* Use any preferred font */
  margin: 0;
  padding: 0;
}

.content {
  max-width: 900px; /* Adjust the width as needed */
  margin: 7px auto; /* Center the content horizontally with 20px top and bottom margin */
  padding: 0 20px; /* Add padding for spacing */
  text-align: justify; /* Justify the text for better readability */
}

.tellme-question {
  font-size: 14px;
  width: 50%; /* Adjust width as needed */
  min-height: 70px; /* Adjust height as needed */
  background-color: transparent; /* Set background color */
  border: 2px solid purple;
  border-radius: 20px; /* Set border radius to create rounded corners */
  padding: 5px; /* Add padding for content inside the div */
  margin: 5px;
  padding-right: 20px;
  float:left;
}

.showme-question {
  font-size: 14px;
  width: 50%; /* Adjust width as needed */
  min-height: 70px; /* Adjust height as needed */
  background-color: transparent; /* Set background color */
  border: 2px solid blue;
  border-radius: 20px; /* Set border radius to create rounded corners */
  padding: 5px; /* Add padding for content inside the div */
  margin: 5px;
  padding-right: 20px;
  float:left;
}

.help-question {
  /* display: flex;
  justify-content: space-between; */
  font-size: 12px;
  width: 40%;
  float:right;
  min-height: 70px; /* Adjust height as needed */
  background-color: transparent; /* Set background color */
  border: 2px solid green;
  border-radius: 20px; /* Set border radius to create rounded corners */
  padding: 5px; /* Add padding for content inside the div */
  margin: 5px;
  padding-right: 20px;
}

.supplementary-question {
  color: green;
  font-size: 12px;
  width: 43%;
  float:right;
  min-height: 0px; /* Adjust height as needed */
  background-color: transparent; /* Set background color */
  padding: 0px; /* Add padding for content inside the div */
  margin: 0px;
  padding-right: 0px;
}

.content-red {
  color: red;
  font-size: 12px;
  width: 95%;
  float:left;
  min-height: 0px; /* Adjust height as needed */
  background-color: transparent; /* Set background color */
  padding: 0px; /* Add padding for content inside the div */
  margin: 0px;
  padding-right: 0px;
}

/* Add styles for the clock */
#time-clock {
  font-size: 1.2rem; /* Adjust the font size as desired */
  font-weight: bold; /* Make the font bold */
  color: #ffffff; /* Set the text color to white */
  margin-right: 20px; /* Add some margin to the right to separate from navbar links */
}

/* Optional: Style the navbar links */
.navbar-nav .nav-link {
  color: #ffffff; /* White text color for navbar links */
}

.navbar-nav .nav-link:hover {
  color: #aaaaaa; /* Light gray text color on hover */
}