{% extends 'base.html' %}

{% block title %}
    Show Me, Tell Me for Car Drives
{% endblock %}

{% block content %}
    <p>Candidates must answer two vehicle safety questions during their driving test. Known as 'show me, tell me' questions, they cover basic maintenance and operation procedures for the vehicle being used. You may be asked to open the bonnet of the car to identify fluid reservoirs and explain how you would check fluid levels. Your trainer will advise you will not be asked to touch a hot engine or physically check fluid levels. Examiners might not ask the questions exactly as stated below and neither are you obliged to answer exactly as described. The most important thing is that the examiner can judge that you understand the risks and know your car.</p>
    <p><b><i>Wear disposable gloves for under-bonnet checks and a high-visibility vest when making safety checks outside the vehicle on the public highway.</i></b></p>
    TEST
{% endblock %}